[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-sqlalchemy = "*"
psycopg2 = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-cors = "*"
flask-request-params = "*"

[requires]
python_version = "3.7"
